.notes-list {
    color: black;
    width: 30vw;
   padding: 20px;
}

.notes-list__button {
    width: 196px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0BC08A;
    border: none;
    padding: 20px;
    color: white;

}

.notes-list__note {
    display: flex;
    justify-content: space-between;
    color: #0BC08A;
    border-bottom: 1px #0BC08A solid;
}